psycopg2-binary
django
gunicorn
django-environ==0.11.2
whitenoise[brotli]
pdf2image
aioprocessing
django-storages
boto3
django-render-block
celery[redis]==5.4.0
redis
pandas
numpy
openpyxl
rapidfuzz
django-widget-tweaks
pymupdf
azure-cognitiveservices-vision-computervision
img2pdf
XlsxWriter
googlemaps
thefuzz
django-htmx